In [1]:
%%html
<p>By starting at the top of the triangle below and moving to adjacent numbers on the row below, the maximum total from top to bottom is 23.</p>
<p class="monospace center"><span class="red"><b>3</b></span><br /><span class="red"><b>7</b></span> 4<br />
2 <span class="red"><b>4</b></span> 6<br />
8 5 <span class="red"><b>9</b></span> 3</p>
<p>That is, 3 + 7 + 4 + 9 = 23.</p>
<p>Find the maximum total from top to bottom of the triangle below:</p>
<p class="monospace center">75<br />
95 64<br />
17 47 82<br />
18 35 87 10<br />
20 04 82 47 65<br />
19 01 23 75 03 34<br />
88 02 77 73 07 63 67<br />
99 65 04 28 06 16 70 92<br />
41 41 26 56 83 40 80 70 33<br />
41 48 72 33 47 32 37 16 94 29<br />
53 71 44 65 25 43 91 52 97 51 14<br />
70 11 33 28 77 73 17 78 39 68 17 57<br />
91 71 52 38 17 14 91 43 58 50 27 29 48<br />
63 66 04 68 89 53 67 30 73 16 69 87 40 31<br />
04 62 98 27 23 09 70 98 73 93 38 53 60 04 23</p>
<p class="note"><b>NOTE:</b> As there are only 16384 routes, it is possible to solve this problem by trying every route. However, <a href="problem=67">Problem 67</a>, is the same challenge with a triangle containing one-hundred rows; it cannot be solved by brute force, and requires a clever method! ;o)</p>

In [120]:
route =[[75],
        [95, 64],
        [17, 47, 82],
        [18, 35, 87, 10],
        [20,  4, 82, 47, 65],
        [19,  1, 23, 75,  3, 34],
        [88,  2, 77, 73,  7, 63, 67],
        [99, 65,  4, 28,  6, 16, 70, 92],
        [41, 41, 26, 56, 83, 40, 80, 70, 33],
        [41, 48, 72, 33, 47, 32, 37, 16, 94, 29],
        [53, 71, 44, 65, 25, 43, 91, 52, 97, 51, 14],
        [70, 11, 33, 28, 77, 73, 17, 78, 39, 68, 17, 57],
        [91, 71, 52, 38, 17, 14, 91, 43, 58, 50, 27, 29, 48],
        [63, 66,  4, 68, 89, 53, 67, 30, 73, 16, 69, 87, 40, 31],
        [ 4, 62, 98, 27, 23,  9, 70, 98, 73, 93, 38, 53, 60,  4, 23]
        ]

In [121]:
for row in range(len(route)-2,-1,-1):
    print(row)
    for n in range(len(route[row])):
        
        if n == len(route[row])-1:
            options_positions = [n,n+1]
            
        else:
            options_positions = next_step(n)
    #         print(options_positions[0],options_positions[-1])
    
        options = route[row+1][options_positions[0]:options_positions[-1]+1]
        print(options,+max(options))
        route[row][n]=(route[row][n]+max(options))

13
[4, 62] 62
[62, 98] 98
[98, 27] 98
[27, 23] 27
[23, 9] 23
[9, 70] 70
[70, 98] 98
[98, 73] 98
[73, 93] 93
[93, 38] 93
[38, 53] 53
[53, 60] 60
[60, 4] 60
[4, 23] 23
12
[125, 164] 164
[164, 102] 164
[102, 95] 102
[95, 112] 112
[112, 123] 123
[123, 165] 165
[165, 128] 165
[128, 166] 166
[166, 109] 166
[109, 122] 122
[122, 147] 147
[147, 100] 147
[100, 54] 100
11
[255, 235] 255
[235, 154] 235
[154, 150] 154
[150, 140] 150
[140, 179] 179
[179, 256] 256
[256, 209] 256
[209, 224] 224
[224, 172] 224
[172, 174] 174
[174, 176] 176
[176, 148] 176
10
[325, 246] 325
[246, 187] 246
[187, 178] 187
[178, 256] 256
[256, 329] 329
[329, 273] 329
[273, 302] 302
[302, 263] 302
[263, 242] 263
[242, 193] 242
[193, 233] 233
9
[378, 317] 378
[317, 231] 317
[231, 321] 321
[321, 354] 354
[354, 372] 372
[372, 393] 393
[393, 354] 393
[354, 360] 360
[360, 293] 360
[293, 247] 293
8
[419, 365] 419
[365, 393] 393
[393, 387] 393
[387, 419] 419
[419, 425] 425
[425, 430] 430
[430, 376] 430
[376, 454] 454
[454, 322] 454
7
[460, 434] 460
[434, 419] 434
[419, 475] 475
[475, 508] 508
[508, 470] 508
[470, 510] 510
[510, 524] 524
[524, 487] 524
6
[559, 499] 559
[499, 479] 499
[479, 536] 536
[536, 514] 536
[514, 526] 526
[526, 594] 594
[594, 616] 616
5
[647, 501] 647
[501, 613] 613
[613, 609] 613
[609, 533] 609
[533, 657] 657
[657, 683] 683
4
[666, 614] 666
[614, 636] 636
[636, 684] 684
[684, 660] 684
[660, 717] 717
3
[686, 640] 686
[640, 766] 766
[766, 731] 766
[731, 782] 782
2
[704, 801] 801
[801, 853] 853
[853, 792] 853
1
[818, 900] 900
[900, 935] 935
0
[995, 999] 999

In [115]:
for row in range(len(route)-2,-1,-1):
    print(route[row])

[125, 164, 102, 166, 116, 123, 165, 128, 171, 109, 162, 147, 100, 54]
[255, 235, 218, 204, 183, 179, 256, 214, 229, 221, 189, 191, 148]
[325, 266, 268, 246, 281, 329, 273, 334, 268, 297, 238, 248]
[378, 396, 312, 346, 354, 372, 425, 386, 431, 348, 262]
[437, 444, 468, 387, 419, 457, 462, 447, 525, 377]
[485, 509, 494, 524, 540, 502, 542, 595, 558]
[608, 574, 528, 568, 546, 558, 665, 687]
[696, 610, 651, 641, 575, 728, 754]
[715, 697, 674, 726, 731, 788]
[735, 719, 808, 778, 853]
[753, 843, 895, 863]
[860, 942, 977]
[1037, 1041]
[1116]

In [80]:
7598+75

7673

In [122]:
route[0]

[1074]

In [63]:
route[13]

[4, 62, 98, 27, 23, 9, 70, 98, 73, 93, 38, 53, 60, 4, 23]

In [58]:
for row in range(len(route),-1,-1):
    print(row)

14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [35]:
next_step(0)

[0, 1]

In [119]:
def next_step(n):
    if n == 0:
        return[0,1]
    else:
        return [n,n+1]

In [40]:
next_step(2)

[1, 2, 3]

In [11]:
n = 0
minimum = 0
for row in route:
    minimum+= min(row)

In [13]:
n = 0
maximum = 0
for row in route:
    maximum+= max(row)

In [12]:
minimum

191

In [14]:
maximum

1238